
body {
    font-family: 'Maven Pro';
	background-color: #a6f0e6;
}

h1 {
	font-family: 'PT Sans Family', sans-serif;
}

.match {

}

#container {
	margin-top: 150px;
}

.food-pic {
	width: 640px;
	height: 480px;
}

.foodblock {
	margin-top: 50px;
	text-align: center;
}

#footer {
	text-align: center;
}
