
<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" > </script>
<!--<script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.js') }}"></script>-->


<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% block title %}FoodMuser{% endblock title %}</title>

	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	<div id="banner"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"></div>

</head>


<body>
	<div id="container">
		<div id="content">
			{% block content %}
				<h1>Heading</h1>
				<p>Hey y'all this is a doooope website!</p>
			{% endblock content %}
		</div>
	    <div id="footer">
	        {% block footer %}
	        <center>
	        Built at PennApps </br>  <a href="http://www.jatinpandey.com/">Jatin Pandey</a>, <a href="http://laramartin.net">Lara Martin</a>, <a href="http://zhalex.net">Alex Zhang</a>,  Alen Lukic &copy; 2014
	        </center>
	        {% endblock footer %}
	    </div>
    </div>
	
</body>
</html>
