
{% extends "base.html" %}
{% block title %}Explore food{% endblock title %}

{% block head %}
	{{ super() }}
{% endblock head %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/explore.css') }}">

	<h1>Explore restaurants</h1>
	<!--  Carousel - consult the Twitter Bootstrap docs at 
		      http://twitter.github.com/bootstrap/javascript.html#carousel -->
		<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
		  <div class="carousel-inner">
 
		    <div class="item active"><!-- class of active since it's the first item -->
				<!-- this will be a loop of places and pics -->
				{% if no_more  %}
				<img src="{{ no_more }}" alt="" />
				<p>no more suggestions</p>
				{% endif %}
				
				<img src=" {{ first_rest_pic }} " alt="" />
		      <div class="carousel-caption">
				  <p> {{ first_rest_name }} </p>
		      </div>
		    </div>

			  {% for rest_name, rest_pic in photo_URL_array.items() %}
			<div class="item">
				<img src=" {{ rest_pic }}" alt="" />
		      <div class="carousel-caption">
				  <p>{{ rest_name }}</p>
		      </div>
		    </div>

			{% endfor %}
		  </div><!-- /.carousel-inner -->
		 
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo; Not today</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">Sounds good &rsaquo;</a>
</div><!-- /.carousel -->
<!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" > </script>-->
<script>
    $(document).ready(function(){
        $('.carousel').carousel();
	});
	$('.carousel-control right").click(function(e) {
		//add it to user matches
		
	});
	$('.carousel-control left").click(function(e) {
		//add it to user seen
	});
</script>

{% endblock content %}


