
{% extends "base.html" %}
{% block title %}Explore food{% endblock title %}

{% block head %}
	{{ super() }}
	{% endblock head %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/explore.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signin.css') }}">

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<h1>Explore food and stuff</h1>
	<p>This page shows your matches. We pull using Mongo!</p>
	<!--  Carousel - consult the Twitter Bootstrap docs at 
		      http://twitter.github.com/bootstrap/javascript.html#carousel -->
		<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
		  <div class="carousel-inner">
		    <div class="item active"><!-- class of active since it's the first item -->
				<!-- this will be a loop of places and pics -->
		      <img src="http://placehold.it/1200x480" alt="" />
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="http://placehold.it/1200x480" alt="" />
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="http://placehold.it/1200x480" alt="" />
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="http://placehold.it/1200x480" alt="" />
		      <div class="carousel-caption">
		        <p>Caption text here</p>
		      </div>
		    </div>
		  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo; Not today</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">Sounds good &rsaquo;</a>
</div><!-- /.carousel -->

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
{% endblock content %}

