
{% extends "base.html" %}
{% block title %}My Matches{% endblock title %}

{% block head %}
	{{ super() }}
{% endblock head %}

{% block content %}
	<h1>You have matches at the following places!</h1>
	<p>Hit a link below a restaurant you want to visit to set contact with like-tummied musers</p>
	{% for match in event_matches %}
		<div class="match">
			{{ match.restaurants }}<br>
			<ul>
				{% for user in match.users %}
					{% if not user == user_id %}
						<li><a href="/message/664457128/668323316/1">{{ user }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</match>
	{% endfor %}
	
{% endblock content %}
